---
title: "The Website Weekly Newsletter"
preheader: "Demande de contact via Coachly-sport"
image: https://www.kwajofqjsetyhwf.coachly-sport.fr/svg/coachly-short-logo.svg
bodyClass: bg-slate-50
---

<x-main>
  <div class="relative h-[200px] w-full overflow-hidden">
    <div class="flex h-full w-full items-center justify-center">
      <div class="absolute -left-1/4 -top-1/2 h-full w-[200vw] -rotate-10rotate-5 bg-appBlue"></div>
      <img class="top-1/5 absolute z-10 w-[80px]" src="https://www.kwajofqjsetyhwf.coachly-sport.fr/svg/coachly-short-logo.svg" />
    </div>
  </div>
  <div class="px-10">
  <p class="hidden md:block">medium</p>
  <p class="text-appBlack text-center text-base font-bold">Demande de réinitialisation du mot de passe</p>
  <p class="text-appBlack mt-6 text-center text-xs font-medium">Demande de réinitialisation du mot de passe</p>
  </div>
</x-main>